/* * Selector will select all elements */
* {box-sizing:border-box} 

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: azure;
}

img {
  vertical-align: middle;
  border-radius: 5px;
  filter: grayscale(80%);
}

img:hover {
  filter: initial;
}

/* Slideshow container */
.photo-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Images are set to display none so all images would not display all at once */
.slides {
  display: none;
}

/* Next / previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Display the next button on the right side of the image */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* hover will add a tint so the user can interact with it */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-weight: bold;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text on the corner of the image */
.number {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Square index */
.square {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.active, .square:hover {
  background-color: rgb(2, 2, 2);
}

/* Animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}